<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>NCL STRIIM API</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<style>
    .alert {
        margin-top: 10px;
    }
    .btn .spinner-border {
        display: none;
    }
    .btn-loading .spinner-border {
        display: inline-block;
    }
    .btn-loading {
        pointer-events: none;
    }
    .btn-sm,
    .form-label {
            margin-top: 10px;
        }
</style>
</head>
<body>

<div class="container-fluid">   
    <div class="mb-3 w-25">
        <form id="command-form" method="POST" action="/striim/sendcommands">
            <label for="ship-dropdown" class="form-label">Select a Ship</label>
            <select class="form-select" id="ship-dropdown" name="ship">
                <option value="Ship 1">Ship 1</option>
                <option value="Ship 2">Ship 2</option>
                <option value="Ship 3">Ship 3</option>
            </select>
            <label for="send-command-to-ship" class="form-label">Input Commands</label>
                <textarea class="form-control form-control-sm" id="send-command-to-ship" name="command" rows="3"></textarea>
                <button id="send-command" class="btn btn-primary btn-sm" type="submit">Send Command
                <span class="spinner-border spinner-border-sm ms-2" role="status" aria-hidden="true" style="display:none;"></span>
            </button>
            <button id="start-striim" class="btn btn-success btn-sm" type="button">Start Server
                <span class="spinner-border spinner-border-sm ms-2" role="status" aria-hidden="true"></span>
            </button>
            <button id="stop-striim" class="btn btn-danger btn-sm" type="button">Stop Server
                <span class="spinner-border spinner-border-sm ms-2" role="status" aria-hidden="true"></span>
            </button>
            <div id="send-command-alert" class="alert mt-3" role="alert" style="display: none;"></div>
            <div id="start" class="alert" role="alert"></div>
            <div id="stop" class="alert" role="alert"></div>
        </form>
    </div>
</div>

<script>
$(document).ready(function() {
    function clearStatus() {
        $('#start').hide().removeClass('alert-success alert-danger alert-info');
        $('#stop').hide().removeClass('alert-success alert-danger alert-info');
         $('send-command-alert').hide().removeClass('alert-success alert-danger alert-info');
    }

    // Fade out success or alert message after 3 seconds
    function showAlert(alertElement, duration) {
        setTimeout(function() {
            alertElement.fadeOut(); // Smoothly hide the alert
            }, duration);
    }

    // Start Server action
    $('#start-striim').click(function() {
        // clearStatus();
        // Confirm that you want to perform action
        if (confirm("Are you sure you want to start server?")) {
            $('#start').hide().removeClass('alert-success alert-danger');
            const ship = $('#ship-dropdown').val();  // Get the selected ship
            $('#start-striim').prop('disabled', true);  // Disable the button during request
            $('#start-striim .spinner-border').show();  // Show the spinner
            $.post('/striim/start', { ship: ship })  // Send POST request with ship data
                .done(function(data) {
                    $('#start').addClass('alert alert-success').text('Server Started on ' + ship + ': ' + data.message).show();
                })
                .fail(function(xhr) {
                    let errorMsg = xhr.responseJSON && xhr.responseJSON.error ? xhr.responseJSON.error : "An error occurred.";
                    $('#start').addClass('alert alert-danger').text('Error: ' + errorMsg).show();
                })
                .always(function() {
                    $('#start-striim').prop('disabled', false);  // Re-enable the button
                    $('#start-striim .spinner-border').hide();  // Hide the spinner
                    showAlert($('#start'), 3000);
                });
        }
    else {
            let errorMsg = "No Action performed.";
            $('#start').addClass('alert alert-danger').text(errorMsg).show();
            showAlert($('#start'), 3000);
        }
    });

    // Stop Server action
    $('#stop-striim').click(function() {
        // clearStatus();
        // Confirm that you want to perform action
        if (confirm("Are you sure you want to stop server?")) {
            $('#stop').hide().removeClass('alert-success alert-danger');
            const ship = $('#ship-dropdown').val();  // Get the selected ship
            $('#stop-striim').prop('disabled', true);  // Disable the button during request
            $('#stop-striim .spinner-border').show();  // Show the spinner
            $.post('/striim/stop', { ship: ship })  // Send POST request with ship data
                .done(function(data) {
                    $('#stop').addClass('alert alert-success').text('Server Stopped on ' + ship + ': ' + data.message).show();
                })
                .fail(function(xhr) {
                    let errorMsg = xhr.responseJSON && xhr.responseJSON.error ? xhr.responseJSON.error : "An error occurred.";
                    $('#stop').addClass('alert alert-danger').text('Error: ' + errorMsg).show();
                })
                .always(function() {
                    $('#stop-striim').prop('disabled', false);  // Re-enable the button
                    $('#stop-striim .spinner-border').hide();  // Hide the spinner
                    showAlert($('#stop'), 3000)
                });
        }
        else {
            let errorMsg = "No Action performed.";
            $('#stop').addClass('alert alert-danger').text(errorMsg).show();
            showAlert($('#stop'), 3000);
        }
    });

    // Command form submission
    $('#command-form').submit(function(event) {
        // clearStatus();
        // Confirm that you want to perform action
            event.preventDefault(); // Prevent form from reloading the page
            const command = $('#send-command-to-ship').val(); // Get the command text
            const ship = $('#ship-dropdown').val(); // Get the selected ship from dropdown
            console.log(`Sending command: ${command} to ship ${ship}`); // Log for debugging
            // $('#send-command').prop('disabled', true);
            // $('#send-command .spinner-border').show();
            if (command.length <= 5){
            alert("Input must be at least 5 characters long.");
                return; // Exit if validation fails
            }

            if (confirm("Are you sure you want to send the command(s)?")) {
                $.ajax({
                    url: '/striim/sendcommands',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        command: command,
                        ship: ship
                    }),
                    success: function(data) {
                        $('#send-command-alert').removeClass('alert-danger').addClass('alert alert-success');
                        $('#send-command-alert').text('Success: ' + data.message).show();
                        $('#command-form')[0].reset(); // Clear form on success
                    },
                    error: function(xhr) {
                        let errorMsg = xhr.responseJSON && xhr.responseJSON.error ? xhr.responseJSON.error : "An unknown error occurred.";
                        $('#send-command-alert').removeClass('alert-success').addClass('alert alert-danger');
                        $('#send-command-alert').text('Error: ' + errorMsg).show();
                    },
                    complete: function() {
                        $('#send-command').prop('disabled', false);
                        $('#send-command .spinner-border').hide();
                        showAlert($('#send-command-alert'), 3000)
                    }
                    
                });
            }
            else {
                let errorMsg = "No Action performed.";
                $('#send-command-alert').addClass('alert alert-danger').text(errorMsg).show();
                showAlert($('#send-command-alert'), 3000);
            }      
    });
    
});

</script>
</body>
</html>